body{
    padding: 0;
    margin: 0;
}
span{
    color: blueviolet;
}
.half{
    display: flex;
    width: 100%;
    background-image: url(background1.jpg);
}
.half-width{
    width: 50%;
}
.btn{
    color: rgb(190, 133, 145);
    text-align: center;
    
}
.middle{
    text-align: center;
    color: darkmagenta;
    background-image: url(background2.jpg);
}
.para{
    text-align: center;
}
.second-sec{
    display: flex;
    background-image: url(background3.jpg);
}
.contact{
    color: crimson;
    text-align: center;
}
.matha{
    text-align: center;
    background-image: url(background1.jpg);
}
.pagol-mon{
    display: flex;
    width: 100%;
    justify-content:space-between;
    background-image: url(background2.jpg);
      
}
.pagla{
    border: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 5px;

}
.hello{
    text-align: center;
    
    
    border-radius: 2px;
    background-image: url(background1.jpg);
}
